# Node dependencies
**/node_modules/
**/dist/

# Python virtual env
**/venv/
**/__pycache__/
**/*.pyc

# Local Databases
**/*.db
**/*.db-journal

# Credentials
**/.env
**/.env.local

# OS files
.DS_Store
Thumbs.db
mingw-git/
